<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="blog.css">
     <title>Mood Quiz</title>
  </head>
  
  <body>
  <h1>Welcome!</h1>
  <form>
    How are you doing today? <br>
<input type="radio" name="feeling" value="happy"> I'm great <br>
<input type="radio" name="feeling" value="sad"> Eh. <br>
<input type="radio" name="feeling" value="stressed"> I wanna pull my  hair out <br>
<input type="radio" name="feeling" value="angry"> I want to kill someone right now! <br>
<br>
<br>

Which scene appeals to you the most right now? <br>
<input type="radio" name="scene" value="happy"> Green Forest<br><img src="https://s-media-cache-ak0.pinimg.com/originals/5c/d3/6e/5cd36e8081e8e51abaf8c54f8d6e9912.jpg" alt="" height="100" width="100">
<br>
<input type="radio" name="scene" value="sad"> Storm<br><img src="https://i.ytimg.com/vi/4ShzvDLlOKY/maxresdefault.jpg" alt="" height="100" width="100">
<br>
<input type="radio" name="scene" value="stressed"> Under the Sea<br><img src="http://www.wallpaperup.com/uploads/wallpapers/2012/08/04/8749/42fbd02bf58ea5da33a220c4a8c2bf78.jpg" alt="" height="100" width="100">
<br>
<input type="radio" name="scene" value="angry"> Desert<br><img src="http://www.naijastories.com/wp-content/uploads/2013/12/desert-dry-scrub-hot-barren-land.jpg" alt= "" height="100" width="100">
<br>
<br>
Which song reflects your mood right now? <br>
<input type="radio" name="song" value="stressed"> Stressed Out by Twenty One Pilots  <br>
<input type="radio" name="song" value="sad"> Teardrops on my Guitar by Taylor Swift <br>
<input type="radio" name="song" value="angry"> So What by Pink<br>
<input type="radio" name="song" value="happy"> Best Day of my Life by American Authors <br>
<br>
<br>
Which food appeals to your mood? <br>
<input type="radio" name="song" value="sad"> ice cream<br>
<input type="radio" name="song" value="happy"> pizza<br>
<input type="radio" name="song" value="angry"> ghost pepper<br>
<input type="radio" name="song" value="stressed"> chocolate <br>
<br>
<br>
Which character describes you?<br>
<input type="radio" name="song" value="stressed"> The White Rabbit<br><img src="http://cliparts.co/cliparts/6cr/58a/6cr58aaei.png" alt="" height= "100" width="100" ><br>
<input type="radio" name="song" value="sad"> Sadness<br> <img src="http://www.asiamcclain.com/wp-content/uploads/2016/04/featured-image-sadness-1.jpg" alt="" height="100" width="100"> <br>
<input type="radio" name="song" value="happy"> Olaf<br> <img src="http://withloveeventsinc.com/wp-content/uploads/2014/11/Olaf-297x300.png" alt="" height="100" width="100"> <br>
<input type="radio" name="song" value="angry"> Hades<br> <img src="http://vignette3.wikia.nocookie.net/villains/images/5/5d/Hercules-disneyscreencaps.com-6168.jpg/revision/latest?cb=20130906105702" alt="" height="100" width="100"> <br>
<br>
<br>
    <input type="submit" value="Submit"/>
  </form>
  
  </body>
</html>