<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

     <link rel="stylesheet" type="text/css" href="../public/css/blog.css">
    <title>Anonymous Blogger</title>
  </head>
  
  <body>
  <h1>Welcome!</h1>
  <form>
    How are you doing today? <br>
<input type="radio" name="feeling" value="happy"> I'm great <br>
<input type="radio" name="feeling" value="sad"> Eh. <br>
<input type="radio" name="feeling" value="stressed"> I wanna pull my  hair out <br>
<input type="radio" name="feeling" value="angry"> I want to kill someone right now! <br>
<br>
<br>

Which scene appeals to you the most right now? <br>
<input type="radio" name="scene" value="happy">Green Forest<img src="https://s-media-cache-ak0.pinimg.com/originals/5c/d3/6e/5cd36e8081e8e51abaf8c54f8d6e9912.jpg" alt="">
<br>
<input type="radio" name="scene" value="sad"> <br>
<input type="radio" name="scene" value="stressed">  <br>
<input type="radio" name="scene" value="angry">  <br>
<br>
<br>
Which song reflects your mood right now? <br>
<input type="radio" name="song" value="stressed">Stressed Out by Twenty One Pilots  <br>
<input type="radio" name="song" value="sad">Teardrops on my Guitar by Taylor Swift <br>
<input type="radio" name="song" value="angry">So What by Pink<br>
<input type="radio" name="song" value="happy">Best Day of my Life by American Authors <br>
<br>
<br>
Which food appeals to your mood? <br>
<input type="radio" name="song" value="sad">ice cream<br>
<input type="radio" name="song" value="happy">pizza<br>
<input type="radio" name="song" value="angry">ghost pepper<br>
<input type="radio" name="song" value="stressed">chocolates <br>
<br>
<br>
Which character describes you?<br>
<input type="radio" name="song" value="stressed">The White Rabbit <br>
<input type="radio" name="song" value="sad">Sadness<br>
<input type="radio" name="song" value="happy">Olaf<br>
<input type="radio" name="song" value="angry">Hades<br>
<br>
<br>
    <input type="submit" value="Submit"/>
  </form>
  
  
  
  
  
  
  
  
  
  
  
  </body>
</html>