<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="../public/blog.css">
    <title>Anonymous Blogger</title>
  </head>
  
  <body>
  <h1>Welcome!</h1>
  <form>
    How are you doing today? <br>
<input type="radio" name="feeling" value="great"> I'm great <br>
<input type="radio" name="feeling" value="eh"> Eh. <br>
<input type="radio" name="feeling" value="hair"> I wanna pull my  hair out <br>
<input type="radio" name="feeling" value="kill"> I want to kill someone right now! <br>
<br>
<br>

Which scene appeals to you the most right now? <br>
<input type="radio" name="scene" value="great"><img src="https://s-media-cache-ak0.pinimg.com/originals/5c/d3/6e/5cd36e8081e8e51abaf8c54f8d6e9912.jpg" alt="">
Try it Yourself »
<br>
<input type="radio" name="scene" value="eh"> <br>
<input type="radio" name="scene" value="hair">  <br>
<input type="radio" name="scene" value="kill">  <br>
<br>
<br>
Which song reflects your mood right now? <br>
<input type="radio" name="song" value="great"> Stressed Out by Twenty One Pilots  <br>
<input type="radio" name="song" value="eh">Teardrops on my Guitar by Taylor Swift <br>
<input type="radio" name="song" value="hair"> I<br>
<input type="radio" name="song" value="kill"> I want to kill someone right now! <br>


    <input type="submit" value="Submit"/>
  </form>
  
  
  
  
  
  
  
  
  
  
  
  </body>
</html>